/* Log in CSS */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --clr-primary: #29221d;
    --clr-primar-light: #473b33;
    --clr-secondary: #1e1611;
    --clr-white: #fff;
    --clr-black: #000;
    --clr-pumpkin: #fe6c00;
    --clr-silver: #a8a5a6;
    --clr-silver-v1: #bdbabb;
    --clr-scarlet: #fe1e00;
    --clr-scarlet-v1: rgb(254, 30, 0, 0.79);
    --clr-green: #00fe93;
    --clr-yellow: #fec80a;
    --clr-jet: #302924;
    --clr-peach: #ffc397;
    --font-family-bai: "Bai Jamjuree", sans-serif;
    --transition-default: all 300ms ease-in-out;
}

.auth-form-container {
    font-family: var(--font-family-bai);
    background-color: var(--clr-primary);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 8px 24px;
    color: var(--clr-white);
    padding: 24px;
    margin-bottom: 30px;
}

.link-btn {
    color: var(--clr-white);
}