.receipts-container {
  background-color: var(--clr-primary);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 8px 24px;
  color: var(--clr-white);
  padding: 24px;
  margin-bottom: 30px;
}

.receipts-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.receipts-list li {
  background-color: var(--clr-jet);
  border-radius: 8px;
  box-shadow: none;
  margin-bottom: 16px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: var(--transition-default);
}

.receipts-list li:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.receipt-filename {
  font-size: 16px;
  font-weight: 500;
  color: var(--clr-white);
}

.view-receipt-button {
  background-color: #05fb05;
  color: var(--clr-black);
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-left: 20px;
}

.view-receipt-button:hover {
  background-color: #0db704;
}